html {
  font-family: Arial, sans-serif;
}

.mainHeader {
  width: 95%;
  background-color: lightblue;
  margin: 0;
  padding: 5px;
}

.mainBody {
  padding: 0 0 0 10px;
  width: 65%;
  float: left;
  background-color: lightgray;
}

.sonnet {
  font-family: Tahoma, sans-serif;
}

.sidebar {
  width: 30%;
  display: inline-block;
  height: 1023px;
  background-color: green;
}

.sonnet span {
  background-color: lightcoral;
}

.mainFooter {
  font-size: .75em;
  margin: 0;
  padding: 5px;
  width: 95%;
  clear: both;
  text-align: center;
  height: 25px;
  background-color: lightblue;
}